body {
    text-shadow: 0px 0px 4px #FFFB46;
    color: #820263;
    background-color: navajowhite;
    font-size: larger;
    font-family: "Merriweather", serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-style: italic;
    margin: 0;
    text-align: center;
}

.space {
    height: 30px;
    background-color: antiquewhite;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-image: url("/images/hero.jpeg");
    height: 730px;
    background-size: cover;
}
.htxt {
    border-radius: 20px;
    padding: 12px;
    background-color: #FFFB46;
    opacity: 0.8;
}

ul {
    list-style-type: none;
}

.activities {
    height: 500px;
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
}

.spcl {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.aimg {
    object-fit: fill;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.guide-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 715px;
    margin: 80px 400px;
    background-color: #a7cdbd;
    border: solid 4px #ff4a1c;
}

.gsi {
    padding: 30px;
}

.gimg {
    object-fit: fill;
    width: 260px;
    height: 300px;
    border-radius: 20px;
}

#croc {
    font-weight: bold;
    text-decoration: underline;

}

